.header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: rgb(44, 40, 40);
}
.users-div{
    width: 20%;
    height: 240px;
    background-color: rgb(117, 146, 146);
    border-radius: 50px;
}
.users{
    margin: 30% auto 0 auto;
    color: white;
}
.products-div{
    width: 20%;
    height: 240px;
    border-radius: 50px;
    background-color: rgb(107, 38, 172);
}
.products{
    margin: 30% auto 0 auto;
    color: white;
}